*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: underline;
}

/* header */

header{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 115, 0);
    position: fixed;
    top: 0;
    box-shadow: 2px 2px rgba(67, 67, 67, 0.39);
    z-index: 2;
    
}

header .menu-logo{
    height: 100px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo ul{
    display: flex;
}

.menu-logo ul li{
    list-style-type: none;
    margin-right: 7px;
    font-size: 18px;
}

.menu-logo img{
    width: 12%;
}

.user i{
    margin-left: 7px;
}

/* main */

main{
    min-height: 800px;
    width: 70%;
    margin: 120px auto 0 auto;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}

.container .cards img{
    width: 350px;
}

/* main description */

.description{
    font-weight: bold;
}

.prize span:nth-child(1) {
    color: #f00;
}
.prize span:nth-child(2){
    text-decoration: line-through;
    padding-left: 3px;
}

/* hover */

.img{
    position: relative;
}

.img .hide{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.img:hover .hide{
    display: inline;
    cursor:pointer;
}

/* footer */

footer{
    height: 100px;
    background-color: rgb(69, 69, 69);
}